* {
    margin: 0;
}

html {
    background-color: #FCDF2C;
    color: #F30E08;
    font-family: luna, arial, sans-serif;
    
    

}

@font-face {
    font-family: "luna";
    src: url("luna.ttf")
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
   max-height: 100vh; 
    }

    .cont {
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        width:100%;
        text-align: center;
            }

    .inputs {
        background: url('tina-01.png') no-repeat bottom;
        background-size: contain;
    }


.gtbg {
    background: url("specialsboard.png") no-repeat bottom;
    background-size: contain;
    
}

.generated-text {
    height: 80%;
    max-height: 80vh;
    width: 60%;
    max-width: 60%;
    font-family: arial, sans-serif;
    color: #f3f3f3;
    margin: 10% auto;
    overflow-y: auto;
    
}

@media screen and (max-width: 767px) {
 

 }





}
form {
    margin-top: 10px;
}

.paragraph-number {
    background: none;
    border: none;
    width: 40px;
    font-family: luna, arial, sans-serif;
    font-size: 1.2rem;

    
}

.generate-button {
    background:#F30E08;
    font-family: luna, arial, sans-serif;
    font-size: 1.2rem;
    border: 3px black solid;
    padding: 5px;
    
}

.generate-button:hover {
    cursor: pointer;
}

input, select{
    outline: none;
    text-align: left;
}



@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }   

    .inputs {
        background: url('tina-01.png') bottom no-repeat;
        background-size: 50%;
    }
   
    }